<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamified Marketing Application</title>
</head>
<body>
    <h1>Gamified Marketing Application</h1>

    <h2>Product of the day</h2>

    <div th:utext="${product} ? '<img src=\'' + *{'data:image/png;base64,' + product.getImage()} + '\' alt=\'Product of the day\'/>' : ''"></div>

    <h3 th:text="${product} ? *{product.getName()} : 'No product available for today\'s questionnaire'"></h3>

    <h3 th:text="${isBanned} ? 'You have been banned and cannot compile any questionnaire' : ''" style="color:red"></h3>

    <div th:utext="${canCompile && product && !isBanned} ? '<a href=\'GoToQuestionnaire\'>Go to the questionnaire</a>' : '<p>No questionnaire available</p>'"></div>
    <a href="GoToLeaderboard">Leaderboards</a>
    <a href="Logout">Logout</a>
</body>
</html>