<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Inspect questionnaire</title>
</head>

<body>
    <h1>Inspect questionnaire</h1>

    <h2 th:text="${questionnaire.getDate()} + ': ' + ${questionnaire.getProduct().getName()}"></h2>

    <h3>User answers</h3>

    <table>
        <tr>
            <th>Time</th>
            <th>User</th>
            <div th:each="q: ${questionnaire.getQuestions()}">
                <th th:text="${q.getText()}"></th>
            </div>
        </tr>
        <tr th:if="${questionnaire.getSubmitted().isEmpty()}">
            <td th:colspan="${questionnaire.getQuestions().size() + 2}" style="text-align: center">
                No submissions available
            </td>
        </tr>
        <tr th:each="a: ${questionnaire.getSubmitted()}">
            <td th:text="${a.getAccessTime()}"></td>
            <td th:text="${a.getUser().getUsername()}"></td>
            <div th:each="q: ${questionnaire.getQuestions()}">
                <td th:text="${a.getAnswers().get(q)}"></td>
            </div>
        </tr>
    </table>

    <h3>Users who discarded the questionnaire</h3>

    <table>
        <tr>
            <th>Time</th>
            <th>User</th>
        </tr>
        <tr th:if="${questionnaire.getCanceled().isEmpty()}">
            <td colspan="2" style="text-align: center">
                No user canceled their questionnaire
            </td>
        </tr>
        <tr th:each="c: ${questionnaire.getCanceled()}">
            <td th:text="${c.getAccessTime()}"></td>
            <td th:text="${c.getUser().getUsername()}"></td>
        </tr>
    </table>
    <hr>
    <a href="GoToInspectList">Back</a>
    <a href="GoToAdmin">Home</a>
</body>
</html>