<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Leaderboards</title>
</head>
<body>
    <h1>Leaderboards</h1>

    <table>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
        <tr th:if="${leaderboard.isEmpty()}">
            <td colspan="3" style="text-align: center">
                No leaderboards available
            </td>
        </tr>
        <tr th:each="user, i: ${leaderboard}">
            <td th:text="${i.index}+1"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPoints()}"></td>
        </tr>
    </table>
</body>
</html>