table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
tr, td, th{
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #B8E4F1;
}

.hiddenRow {
    display: none;
}

.inline-p {
    display: inline-block;
    margin: 0px;
}

img {
    max-width: 400px;
    max-height: 80vh;
}