# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\rober\OneDrive - Politecnico di Milano\Documenti\Courses\1st Semester\Data Bases 2\Project\DB2_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
